.container {
    display:flex;
    justify-content: space-between;
    height: 100vh;
}

.app-search-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}

